.app {
  display: grid;
  place-items: center;
  width: 100vw;
}

.appContainer {
  height: 100vh;
}

.category {
  width: 90%;
}

.todos {
  height: 70%;
  padding: 1%;
  overflow-y: scroll;
}

.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}
