.app {
  display: grid;
  place-items: center;
  width: 100vw;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 10px 10px;
}

.appContainer {
  height: 100vh;
}

.category {
  width: 90%;
}

.todos {
  height: 70%;
  padding: 1%;
  overflow-y: scroll;
}

.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}
